.DS_S*
__pycache__/
audio_utils.py
data_utils.py
image_utils.py
*_utils.py.*
*.py.*
*.pyc
*.pyc.*
tmp.wav
data/**/*.jpg
data/**/*.png
data/**/*.wav
!data/audio/secrets/secret*.wav
!data/audio/secrets/plain/plain*.wav
!data/audio/secrets/plain/plain_05.png
!data/audio/secrets/plain/secret_05.wav
!data/image/secrets/secret*.png
!data/image/secrets/plain/plain*.png
!Homework05_utils.pyc
